body {
  background-color: rgb(150, 144, 143);
}

h2 {
  display: flex;
  justify-content: center;
  background-color: rgb(212, 42, 42);
  border: 2px solid rgb(63, 55, 55);
  box-shadow: 1px 1px 2px 2px;
  color: rgb(230, 219, 219);
  padding: 10px;
}

.main {
  padding-left: 500px;
  padding-top: 50px;
}

.main input {
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-sizing: border-box;
  border-radius: 4px;
  width: 300px;
  height: 30px;
}

h3 {
  background-color: rgb(212, 42, 42);
  padding-left: 25px;
  font-size: 23px;
  padding: 5px;
  width: 280px;
  border-radius: 2em;
}

ul li {
  font-size: 20px;
  line-height: 50px;
}

ul li:hover {
  background-color: rgb(216, 215, 215);
}

#add {
  padding: 5px;
  width: 100px;
  background-color: rgb(21, 192, 21);
}

#add:hover {
  background-color: rgb(67, 121, 223);
}
